Repository tupe12334/tsets: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{ts,js,md,json}": ["cspell lint --no-must-find-files"]
}

feat(types): add comprehensive TypeScript Set<T> object support
  examples/set-objects.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): specify pnpm version in GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

fix(lint): resolve all ESLint errors systematically
  cspell.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/__tests__/disjoint.test.ts
  src/__tests__/set-objects.test.ts
  src/disjoint.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test(types): add comprehensive type testing for arrays and Sets
  src/__tests__/arrays-comprehensive.test.ts
  src/__tests__/sets-comprehensive.test.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(version): update version to 1.1.0 in package.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files
